*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;



}
/* lallalalalalala */

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 0 25px rgb(255, 0, 0);
    overflow: hidden;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;

}

.form-box h2{
    font-size: 32px;
    color: #ff0000;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid #ff0000;
    font-size: 16px;
    color: #ff0000;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: rgb(255, 0, 0) ;
}

.input-box label{
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(-97%);
    font-size: 16px;
    color: #ff0000;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: rgb(255, 0, 0);
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgb(255, 0, 0);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before{
   content: " ";
   position: absolute;
   width: 100%;
   height: 300%;
   top: -100%;
   left: 0;
   z-index: -1;
   background: linear-gradient(#ffffff, rgb(255, 0, 0), #ffffff, rgb(255, 0, 0));
}

.btn:hover:before{
    top:0;
}

.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login{
    right: 0;
    text-align: center;
    padding: 50px;

}

.info-text h2{
    font-size: 36px;
    color: #f90000;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p{
    font-size: 16px;
    color: #f90000;
}

.wrapper .bg-animate {
    position: absolute;
    top: 0;  /* Adjusted */
    right: 0;
    width: 400px;  /* Adjusted */
    height: 100vh;  /* Adjusted */
    background: linear-gradient(0deg, rgb(243, 0, 0) 0%, rgb(255, 255, 255) 80%, #fdfdfd 100%);
    border-bottom: 3px solid #0ef;
}

.logo {
    position: absolute;
    top: 50px; 
    left: 75%;  
    width: 200px;  
    height: 100px;  
    transform: translateX(-50%) translateY(10%);  
}

