*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: transparent;
}

.body{
    margin:0 ;
    min-height: 100vh;
    min-width: 100vh;
    background: beige;
    
}

.wrapper{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    box-shadow: 0 0 20px rgb(23, 107, 38);
    overflow: hidden;
    border-radius: 10%;
    left: 0;
    top: 150px;
    left: 150px;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;

}

.form-box h2{
    font-size: 32px;
    color: rgb(23, 107, 38);
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid rgb(23, 107, 38);
    font-size: 16px;
    color: rgb(23, 107, 38);
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: rgb(23, 107, 38) ;
}

.input-box label{
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(-97%);
    font-size: 16px;
    color: rgb(23, 107, 38);
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: rgb(23, 107, 38);
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 16px;
    color: beige;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}


.btn::before{
   content: " ";
   position: absolute;
   width: 100%;
   height: 300%;
   top: -100%;
   left: 0;
   z-index: -1;
   background: rgb(23, 107, 38);
}

.btn:hover:before{
    top:0;
}

.info-text{
   position: absolute;
   padding-left: 1030px;
   top: 200px;
}

.info-text h2{
    color: rgb(23, 107, 38);
    font-size: 40px;
    font-weight: bolder;
}

.info-text p{
    font-size: 20px;
    color: rgb(23, 107, 38);
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 500px;
    height: 35%;
    width: 35%; 
    
}
