*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: transparent;
}


/* "Fondo"*/
.body{
    margin:0 ;
    min-height: 100vh;
    min-width: 100vh;
    background: beige;
    
}

/* "caja de texto de login"*/
.wrapper{
    position: absolute;
    width: 650px;
    height: 450px;
    background: transparent;
    box-shadow: 0 0 20px rgba(105, 129, 106, 0.896);
    overflow: hidden;
    border-radius: 10%;
    top: 100px;
    left: 500px;
    margin: 5% 5%; 
    
   
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
}

/* "Texto dentro de marco login"*/
.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* "Formato para cosas dentro de caja login"*/
.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;

}

/* "Logo "*/
.logo {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
    width: 55%;
    height: 55%;
    margin: 0; /* Puedes quitar el margen si deseas que esté centrado perfectamente */
}


/* "Estilo dentro de caja de texto"*/
.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 4.5% 4.5%;
    top: 80px;

}

/* " Lineas login"*/
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid rgb(23, 107, 38);
    font-size: 16px;
    color: rgb(23, 107, 38);
    font-weight: 500;
    transition: .5s;

    
}


.input-box input:focus,
.input-box input:valid{
    border-bottom-color: rgb(23, 107, 38) ;
}

/* "Texto User/pass"*/
.input-box label{
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(-97%);
    font-size: 16px;
    color: rgb(23, 107, 38);
    pointer-events: none;
    transition: .5s;
    
    
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: rgb(23, 107, 38);
}

/* "Boton login"*/
.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 16px;
    color: beige;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    margin: 2.5% 2.5%;
    top: 85px;
}


/* "Formato boton login"*/
.btn::before{
   content: " ";
   position: absolute;
   width: 100%;
   height: 300%;
   top: -100%;
   left: 0;
   z-index: -1;
   background: rgb(23, 107, 38);
   
}

.btn:hover:before{
    top:0;
}

